.input {
  margin-top: .5em;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}

.textarea{
  margin-top: .5em;
  width: 100%;
  height: 10em;
  padding: .5em;
  box-sizing: border-box;
  resize: none;
}

.label {
  font-weight: 700;
  color: #666666;
  margin-bottom: .5em;
}

.priceInputIcon{
  margin-top: .5em;
  padding: .5em;
}

.priceInputBox{
  display: flex;

}