.buttonSection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .15rem;
  padding: .15rem;
}

.buttonHeader{
  margin: .05rem;
}

.reservationHeader{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.reservationHeader h2{
  margin: 0;
  padding: 0.5em;
}

.reservationHeader section{
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin: .05rem 0;
}

.title {
  text-align: center;
}

.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, auto);
  margin: 20px;
}

.app > div {
  min-width: 100%;
}

