h2{
    margin-bottom: 0!important;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 1em;
}

.encounterForm {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 2em!important;
    margin: 2em 2em!important;
    
}

.encounterForm div {    
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.inputs {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 5%;
    width: 100%;
}



.invalidField{
    border: .05em solid red;
}

.helperText {
    color: red!important;
    margin: 0!important;
    padding-top:0;
}
.buttonContainer button{
    margin:0.5em;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.backButton{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: .5em;
    padding: .25em;
    padding-left: 5%;
  }
