.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 600px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.fieldContainer {
  margin-bottom: 1rem;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.field {
  flex: 1;
  margin-right: 1rem;
}

.input {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-left: auto;
}

.formButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.formButtonContainer button {
  margin-left: 0.5rem;
  font-size: 8px;
  padding: 8px 16px;
}

.formButtonContainer button:first-child {
  margin-left: 0;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.error {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}
