
  #header {
    background-color: #282c34;
    min-height: fit-content; /*There's a div in the GoogleLogin component that is set to a min of 20px*/
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    font-size: calc(8px + 2vmin);
    color: white;
  }

  #header > div {
    z-index: 300;
    flex-basis: 5vw;
    justify-content: end;
  }
  
  #header > svg,
  button, span {
    margin-left: 1vw;
    margin-right: 1vw;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
#header > svg:hover,
  button:hover, img:hover, span:hover {
    cursor: pointer;
    fill: gainsboro;
  }

#header .appLogo {
  margin-right: auto;
  margin-left: 1vw;
}

#header .optionalText {
  display: flex;
  flex-basis: 7vw;
  font-size: 1.75vh;
  overflow: auto;
  justify-content: center;
  align-items: center;

}


  