.checkoutContainer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "order    delivery    payment"
    "order    delivery    summary"
    "order    delivery    payNow";
  gap: 1em 2em;
  padding: 0 2em;
  margin: 2em 0;
}

.delivery {
  grid-area: delivery;
}

.order {
  grid-area: order;
}

.payment {
  grid-area: payment;
}

.payNow {
  grid-area: payNow;
  display:grid;
}

.payButton {
  background: #395aa1;
  border-radius: 20px;
  color: #EEEEEE;
  cursor: pointer;
  font-weight: 600px;
  height: 3em;
  justify-self: center;
  width: 75%;
}

.payButton:hover{
  box-shadow: .75rem .25rem 1rem #b3b3b3;
}

.summary {
  grid-area: summary;
}

.useSameAddress {
  display: inline-block;
  margin: 1em 1em 0 0;
}

.sameAddressText {
  color: #666666;
  font-weight: 700;
}

.stepCard{
  height: 87%;
  margin-bottom: 2rem;
}

.stepCard:nth-of-type(3){
  height: fit-content;
}

.stepCard{
  height: 87%;
  margin-bottom: 2rem;
}

.stepCard:nth-of-type(3){
  height: fit-content;
}