h2{
    color: grey;
    margin-bottom: 2rem; 
}

section{
    padding: 1.5rem;
    margin: 1rem 0 1rem 0;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: .75rem .25rem 1rem rgb(179, 179, 179);
}

thead{
    z-index: 400;
}

input[type='checkbox']{
    cursor:default;
}
