h2{
    margin-bottom: 0!important;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formCard {
    display: flex;
    width: 60%;
    margin-top: 1em;
}

.roomTypeForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 1em 2em!important;
    margin: 2em 2em!important;
}

.roomTypeForm div {
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0.25em;
    margin-top: 0;
}

.roomTypeForm textarea {
    margin: 0;
}

.invalidField{
    border: .05em solid red;
}

.helperText {
    color: red!important;;
    margin-top:0;
    margin-bottom: 1.5em!important;
    padding-top:0;
}

.buttonContainer button{
    margin:0.5em;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}
